<!DOCTYPE html>
<html>
<head>
    <title>Forum</title>
    <!-- start: META -->
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- end: META -->

    <!-- start: MAIN CSS -->
    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}" >
    <link rel="stylesheet" href="{{ asset('assets/vendor/font-awesome/css/font-awesome.min.css') }}" >
    <link rel="stylesheet" href="{{ asset('assets/vendor/animate.css/animate.min.css') }}"  media="screen">
    <link rel="stylesheet" href="{{ asset('assets/public/css/forum.css') }}">
    <!-- end: MAIN CSS -->

    {% block stylesheets %}
    {% endblock %}
</head>
<body class="{% block bodyClass%} {% endblock %}">
{% block body %}

{% endblock %}

<!-- start: MAIN JAVASCRIPTS -->
<script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ asset('assets/vendor/angular/angular.min.js') }}"></script>
<script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
<script src="{{ asset('assets/public/js/forum.js') }}"></script>
<!-- end: MAIN JAVASCRIPTS -->

{% block javascripts %}
{% endblock %}
</body>
</html>
